body {
    height:125vh;
    background-color: aqua;
    background-size: cover;
    margin-top:80px;
    padding: 30px;
    background-image: url(https://media.istockphoto.com/photos/magic-blue-abstract-blur-background-picture-id625270566?b=1&k=20&m=625270566&s=170667a&w=0&h=y0UFufcwCmqJgsgGSB4XvYZrNbW5QuhVPZtcNBuHk-g=)

}


nav {
    background-color: black;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    height:80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    z-index: 1;


}


nav * {
    display: inline; 




}




header li {
    margin: 20px;
    height: 100%;


}

header li a:hover {
    background-color: white;
    color: black;

}


header li a {
    text-decoration: none;
    color: white;

}

.square-top-left {
    width:50%;
    height: 1000px;
    background-color: black;

    position: absolute;
    left: 0px;
    top: 80px;
    margin-top: 0px;


}

.square-caption {
    color: white;
    margin: 18%;
    font-size: 80px;
}


.square-caption
{
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #18b2dd 14%,
    #66ff13 28%,
    #fff800 48%,
    #b66965 62%,
    #350b87 76%,
    #231557 100%

  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;


}

@keyframes textclip {
  to {
    background-position: 200% center;
  }}



.about {
    width: 100%;
    height: 200px;
    background-color: green;
    position:absolute;
    top: 1200px;
    left: 0px;



}