body {
    height:125vh;
    background-color: aqua;
    background-size: cover;
    margin-top:80px;
    padding: 30px;
    background-image: url(https://media.istockphoto.com/photos/magic-blue-abstract-blur-background-picture-id625270566?b=1&k=20&m=625270566&s=170667a&w=0&h=y0UFufcwCmqJgsgGSB4XvYZrNbW5QuhVPZtcNBuHk-g=)

}


nav {
    background-color: black;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    height:80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    z-index: 1;


}


nav * {
    display: inline; 


}




header li {
    margin: 20px;

}


header li a {
    text-decoration: none;
    color: white;
}

.square-top-left {
    width:50%;
    height: 1000px;
    background-color: black;

    position: absolute;
    left: 0px;
    top: 80px;
    margin-top: 0px;


}

.square-caption {
    color: white;
    height: 50%;
    vertical-align: middle;

   

}